/config-dectar/databaseValues.php
/commonsettings/dectar_admin_settings.php
/commonsettings/dectar_billing.php
/xmpp-master/config.php
/xmpp-master/log.txt
/application/logs
/commonsettings/dectar_payment_settings.php
/application/config/config.php
